* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
“**ISEED* filter=lfs diff=lfs merge=lfs -text
“*ISEED*” filter=lfs diff=lfs merge=lfs -text
